@import '../../colors';

.SubVideosContainer{
    width: 100%;
    margin: 20px 0;
    height: fit-content;
    background-color:$secondaryBackground;
    padding: 20px;
    .SubVideosHeader{
        font-size: 18px;
        font-weight: 400;
        span{
            color:  $primaryText;
            font-weight: bold;
          }
      }
      .SubVideosFlexDiv{
        display: flex;
        flex-direction: row;
        overflow: auto;
        padding: 10px 5px;
        .VideoContent{
            margin: 15px auto;
            padding: 0 10px;
            .SubVideosVideo{
                .VideoContainer{
                  width:200px;
                      height: calc(200px * 0.5625);
                    .SubVideosPlayerWrapper{
                      width: 100%;
                      height: 100%;
                        position: relative;
                        background-color: black;
                        .ReactPlayer{
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }
                }
                .VideoTitle{
                    width: 190px;
                    max-height: 3em;
                    font-weight: 600;
                    margin: 5px;
                    color: $lightText;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .VideoUploadedOn{
                    margin: 0 5px;
                    span{
                        font-size: 10px;
                        font-weight: 400;
                    }
                }
            }
        }   
    }
  }
  
  @media(max-width:380px){
      .SubVideosContainer{
          padding: 10px 5px;
          width: 100%;
          .SubVideosFlexDiv{
            overflow: scroll;
              .VideoContent{
                width: 180px;
                padding: 0;
                margin: 10px;
                  .SubVideosVideo{
                    width: 100%;
                      .VideoContainer{
                        width: 100%;
                          .SubVideosPlayerWrapper{
                            width: 100%;
                              .ReactPlayer{

                              }
                          }
                      }
                  }
              }
          }
      }
  }
  