@import '../../colors';

.SignIn {
    height: fit-content;
    background-color: $secondaryBackground;
  }
  .Header {
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 16px;
  }
  .Logo {
    width: 30px;
    height: 25px;
    margin: auto 10px;
  }
  .Logo img {
    width: 30px;
    height: 25px;
    padding-top: 2px;
  }
  .Message {
    color: $primaryText;
    font-weight: 700;
    font-size: 18px;
    margin: auto;
  }
  .SignInOptions {
    border-bottom: 2px solid$primaryBackground;
    width: 90%;
    color: $lightText;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
  }
  .SignInOptions div:hover {
    cursor: pointer;
    color: $primaryText;
  }
  .LoginOption {
    width: fit-content;
    padding: 10px 15px;
  }
  
  .SignupOption {
    width: fit-content;
    padding: 10px 15px;
  }
  .formContainer {
    width: 90%;
    margin: 10px auto 0 auto;
    padding: 10px 0;
    text-align: center;
  }
  @media (max-width: 600px) {
    .Message {
      font-size: 16px;
    }
  }
  