.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  box-shadow: 1px 1px 1px black;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  animation: visible 0.4s 1;
  animation-fill-mode: forwards;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
@keyframes visible {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
