.App {
  text-align: center;
}

::-webkit-scrollbar {
  height: 8px; /* height of horizontal scrollbar ← You're missing this */
  width: 6px; /* width of vertical scrollbar */
}
::-webkit-scrollbar-track {
  border-radius: 4;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #1F1F23;
  border: 0.1px solid #555561;
}
