@import '../../colors';

.GameCategories {
    font-size: 20px;
    margin: 8px 0;
    color: white;
  }
  .GameId span{
    color: $lightText;
  }
  .GameContainer {
    box-sizing: border-box;
    padding: 10px 0;
    white-space: nowrap;
    margin: 2px 0;
    .DummyList{
      height: fit-content;
      width: fit-content;
      display: flex;
      flex-direction: row;
      .DummyGame{
        height: fit-content;
        width: fit-content;
        margin: 10px 10px;
        .DummyGameImg{
          width: 160px;
          height: 170px;
          align-self: center;
          border-radius: 3px;
          background-color: $secondaryBackground;
          .ForAnimation{
            height: 100%;
            width: 100%;
            overflow: hidden;
            &:before{
              content: '';
              background-color:  #1f1f22;
        
              height: inherit;
              width: 5em;
              display: block;
              left: -2.5em;
              animation: mymove 4s;
              animation-iteration-count: infinite;
              transition: all 0.5s ease-in-out;
            }
          }
          
        }
        .DummyGameName{
          width: 120px;
          height: 15px;
          margin: 7px 2px;
          background-color: $secondaryBackground;
        }
      }
    }
  }
  
  
  
  
  