.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  color: rgb(119, 142, 163);
  outline: none;
  background-color: #09152b;
  border: none;
  border-bottom: 1px solid #4d5d7a;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #09152b;
}
.Invalid {
  border-bottom: 2px solid red;
}
