.ProfileContainer {
  margin: 20px auto;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.ProfileAndMainVid{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #05182e;
  padding: 10px 10px;
  margin-bottom: 30px;
}
.Profile{
  display: flex;
  padding-top: 10px;
  text-align: center;
  flex-direction: column;
}
.ProfilePicture{
  width: fit-content;
  height: fit-content;
}
.ProfilePicture img{
width: 200px;
height: 200px;
border-radius: 50%;
}

.StreamerDetails{
  width: 200px;
  height: fit-content;
  padding: 5px 10px;
  
}
.UserName{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #1DA1F2;
  cursor: pointer;
}

.Games{
  
  width: 100%;
  height: fit-content;
}
.GameList{
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.GameList li{
  background-color: rgb(19, 53, 42);
  border-radius: 20px;
  width: fit-content;
 list-style: none;
 margin: 3px 3px 3px 0px;
 font-size: 12px;
 padding: 0px 6px 4px;
}

.FollowerCount{
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  color: #187bb9;
  font-size: 12px;
}
.PlayerWrapper{
  margin-top: 10px;
  width:630px;
  position: relative;
}

.ReactPlayer{
  border: 1px solid #4c89c7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.SubVideosContainer{
  width: 100%;
  margin: 10px 0;
  height: fit-content;
  background-color: #020911;
  padding: 10px;
}
.SubVideosHeader{
  
  font-size: 18px;
  font-weight: bold;
}
.SubVideosHeader span{
  color:  #4c89c7;
}
.SubVideosFlexDiv{
  
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  overflow: auto;
  box-sizing: border-box;
  white-space: nowrap;
}
.SubVideosVideo{
  margin: 10px 20px;
}
.SubVideosPlayerWrapper{
  width:330px;
  position: relative;
}
.UploadVideoContainer{
  width: 100%;
  height: fit-content;
  background-color: #0F1E37;
  padding: 10px;
  }
  .UploadVideoHeader{
    color: #88A3D2;
    font-size: 25px;
    font-weight: bold;
  }
  .UploadFormContainer{
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
  }

@media(min-width:1220px){
  .PlayerWrapper{
    height: calc(630px * 0.5625);
  }
  .SubVideosPlayerWrapper{
    height: calc(330px * 0.5625);
  }
}
@media(max-width:1220px){
  .ProfileAndMainVid{
    
    flex-direction: column;
  }
  .ProfilePicture{
    padding: 0px 10px;
  }
  .ProfilePicture {
    width: 180px;
    height: 180px;
    padding: 0;
    text-align: center;
    }
  .ProfilePicture img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    }
  .StreamerDetails{
    width: 100%;
  }
  .UserName{
    text-align: left;
    flex-direction: row;
  }
  .FollowerCount{
    
    text-align: left;
    
  }
  
  .Profile{
    align-self: center;
  }
  .PlayerWrapper{
    width:100%;
    position: relative; 
  padding-bottom: 56.25%;
  }
  .VideoContainer{
    width: 200px;
    height: calc(200px * 0.5625);
  }
  .SubVideosPlayerWrapper{
    width:100%;
    position: relative; 
    padding-bottom: 56.25%;
  }
  .ReactPlayer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}
@media(max-width:380px){
  .ProfileAndMainVid{
    width: fit-content;
  }
}