.ProfileContainer {
  margin: 20px auto;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.ProfileContainer .ProfileAndMainVid {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #18181A;
  padding: 10px 10px;
  margin-bottom: 30px;
}

.ProfileContainer .ProfileAndMainVid .Profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ProfileContainer .ProfileAndMainVid .Profile .ProfilePicture {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.ProfileContainer .ProfileAndMainVid .Profile .ProfilePicture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.ProfileContainer .ProfileAndMainVid .Profile .StreamerDetails {
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px 10px;
}

.ProfileContainer .ProfileAndMainVid .Profile .StreamerDetails .UserName {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #9147FF;
  cursor: pointer;
}

.ProfileContainer .ProfileAndMainVid .Profile .StreamerDetails .FollowerCount {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  color: #96aed8;
  font-size: 12px;
}

.ProfileContainer .ProfileAndMainVid .Profile .StreamerDetails .Games {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.ProfileContainer .ProfileAndMainVid .Profile .StreamerDetails .Games .GameList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
}

.ProfileContainer .ProfileAndMainVid .Profile .StreamerDetails .Games .GameList li {
  background-color: #2a3532;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  margin: 3px 3px 3px 0px;
  font-size: 12px;
  padding: 0px 6px 4px;
}

.ProfileContainer .ProfileAndMainVid .UploadVideoContainer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #18181a;
  padding: 10px;
}

.ProfileContainer .ProfileAndMainVid .UploadVideoContainer .UploadVideoHeader {
  color: #adadad;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
}

.ProfileContainer .ProfileAndMainVid .UploadVideoContainer .UploadFormContainer {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

.ProfileContainer .ProfileAndMainVid .UploadVideoContainer .UploadProgress {
  width: 80%;
  margin: auto;
  padding: 10px;
  text-align: center;
  color: #96aed8;
}

.ProfileContainer .ProfileAndMainVid .PlayerWrapper {
  margin-top: 10px;
  width: 630px;
  position: relative;
}

.ProfileContainer .ProfileAndMainVid .PlayerWrapper .ReactPlayer {
  border: 1px solid #4c89c7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 310px) {
  .ProfileContainer {
    width: 240px;
  }
}

@media (max-width: 1220px) {
  .ProfileContainer .ProfileAndMainVid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ProfileContainer .ProfileAndMainVid .Profile {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .ProfileContainer .ProfileAndMainVid .Profile .ProfilePicture {
    padding: 0px 10px;
    width: 180px;
    height: 180px;
    padding: 0;
    text-align: center;
  }
  .ProfileContainer .ProfileAndMainVid .Profile .ProfilePicture img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
  }
  .ProfileContainer .ProfileAndMainVid .Profile .StreamerDetails {
    width: 100%;
  }
  .ProfileContainer .ProfileAndMainVid .Profile .StreamerDetails .UserName {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .ProfileContainer .ProfileAndMainVid .Profile .StreamerDetails .FollowerCount {
    text-align: left;
  }
  .ProfileContainer .ProfileAndMainVid .PlayerWrapper {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
  }
  .ProfileContainer .ProfileAndMainVid .PlayerWrapper .ReactPlayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 380px) {
  .ProfileAndMainVid {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  .Loading {
    width: 200px;
    margin: auto;
  }
  .VideoList {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
}

@media (min-width: 1220px) {
  .PlayerWrapper {
    height: calc(630px * 0.5625);
  }
}
/*# sourceMappingURL=Profile.module.css.map */