@import '../../../colors';

a{
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    
    transition: all 0.1s ease-in;
    .Streamer{
        text-align: center;
        padding: 10px;
        display: flex;
    flex-direction: column;
        img{
            margin: 5px;
            width: $streamerWidth;
            height: $streamerHeight;
            background-color: $secondaryBackground;
            border-radius: 3px;
        }
        span{
            color: $lightText;
        }
    }
    &:hover,&:active{
        transform: scale(1.05);
    }
}