@import '../../colors';

.PopularStreamersContainer {
    font-size: 20px;
    margin: 8px 0;
    padding: 10px 0;
    
    .PopularStreamersHeader{
        span{
            color:$primaryText;
          }
      }
      .PopularStreamers {
        overflow: auto;
        white-space: nowrap;
        box-sizing: border-box;
        border-bottom: 1px solid #38444d;
        padding: 10px 0;
        margin: 2px auto;
        .DummyList{
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: row;
            .DummyStreamer{
                height: fit-content;
                width: fit-content;
                padding: 10px 10px;
                

                .DummyStreamerImg{
                    height: 140px;
                    width: 140px;
                    border-radius: 3px;
                    background-color: $secondaryBackground;
                    .ForAnimation{
                        height: 100%;
                        width: 100%;
                        overflow: hidden;
                        &:before{
                          content: '';
                          background-image:  linear-gradient(#1f1f22,$secondaryBackground);
                    
                          height: inherit;
                          width: 50%;
                          display: block;
                          left: -2.5em;
                          animation: mymove 4s;
                          animation-iteration-count: infinite;
                          transition: all 0.5s ease-in-out;
                        }
                      }
                }
                .DummyStreamerName{
                    height: 15px;
                    width: 70px;
                    border-radius: 2px;
                    margin: 5px auto;
                    background-color: $secondaryBackground;
                }
            }
        }
        a {
            display: inline-block;
            text-align: center;
            text-decoration: none;
            padding: 10px 10px;
            font-size: 16px;
            &:hover, &:active{
                transform: scale(1.05, 1.05);
            }
            span{
                color: $lightText;
            }
            .Streamer {
                height: fit-content;
                width: fit-content;
                img {
                    height: 140px;
                    width: 140px;
                    border-radius: 3px;
                    background-color: $secondaryBackground;
                  }
              }
          }
      }
      
  }
 
  
 
  
  @keyframes mymove{
    0%{
        transform: skewX(-45deg) translateX(-4em);
        opacity: 0.1;
    }
    50%{
      opacity: 0.3;
    }
    100%{
      opacity: 0.1;
        transform: skewX(-45deg) translateX(13.5em);
    }
}