@import '../../colors';

.GameProfileContainer{
    width: 90%;
    margin: auto;
    padding: 10px 0;
    div{
        .FavGameStreamerCont{
            margin: 20px auto;
        }
        .PopGameStreamerCont{
            margin: 20px auto;
        }
        .StreamerVideoList{
            margin: 20px auto;
        }
        div{
            
            .Header{
                font-size: 18px;
                font-weight:400;
                span{
                    color: $primaryText;
                    font-weight: 600;
                }
            }
            .StreamerList{
                height: fit-content;
                width: 100%;
                display: flex;
                flex-direction: row;
                overflow: auto;
                padding: 10px 5px;
                a{
                    height: fit-content;
                    width: fit-content;
                    text-align: center;
                    padding: 5px;
                    span{
                        color: $lightText;
                    }
                    .Streamer {
                        height: fit-content;
                        width: fit-content;
                        margin: 5px 10px;
                        img {
                            height: 140px;
                            width: 140px;
                            border-radius: 3px;
                          }
                  }
                }
            }
        }
    }
}