$primaryBackground : #0E0E10;
$secondaryBackground : #18181A;
$lightBackground:#1e1e20;
$primaryText :  #A970FF;
$lightText : rgb(173, 173, 173);
$gameWidth : 160px;
$gameHeight : 170px;
$streamerWidth : 140px;
$streamerHeight:140px;
