@import '../../colors';

.MainContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    .MainContentToken {
        width: calc(100% - 250px);
        left: 250px;
        position: absolute;
        height: 100%;
        overflow: auto;
        background-color:#0E0E10;
        padding-bottom: 50px;
      }
      .SideContentToken {
        background-color:#1F1F23;
        position: absolute;
        height: 100%;
        width: 250px;
      }
      .MainContent{
        width: 100%;
        position: absolute;
        height: 100%;
        overflow: auto;
        background-color:#0E0E10;
        padding-bottom: 50px;
      }
      .SideContent{
        display: none;
      }
      span {
        font-weight: bold;
        color: $primaryText;
      }
  }
  
  

  
  @media (max-width: 600px) {
    .MainContainer{
        .MainContentToken {
            width: calc(100% - 60px);
            left: 60px;
            .SideContentToken {
              width: 60px;
            }
          }
    }
    
  }
  