.MainContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: 3px;
}
.MainContent {
  width: calc(100% - 150px);
  left: 150px;
  position: absolute;
  height: 100%;
  background-color: #15202b;
  overflow: scroll;

  border: 1px solid #38444d;
}
@media (max-width: 600px) {
  .MainContent {
    width: calc(100% - 60px);
    left: 60px;
  }
}
