@import '../../../colors';

.GameBlock{
    margin: 10px;
    transition: all 0.1s ease-in;
    .DummyGame{
        height: fit-content;
        width: fit-content;
        .DummyGameImg{
          width: 160px;
          height: 170px;
          align-self: center;
          border-radius: 3px;
          background-color: $secondaryBackground;
          .ForAnimation{
            height: 100%;
            width: 100%;
            overflow: hidden;
            &:before{
              content: '';
              background-color:  #1f1f22;
        
              height: inherit;
              width: 5em;
              display: block;
              left: -2.5em;
              animation: mymove 4s;
              animation-iteration-count: infinite;
              transition: all 0.5s ease-in-out;
            }
          }
          
        }
        .DummyGameName{
          width: 120px;
          height: 15px;
          margin: 7px 2px;
          background-color: $secondaryBackground;
        }
      }
    .Game {
        height: fit-contents;
        width: fit-content;
        img {
            width: $gameWidth;
            height: $gameHeight;
            align-self: center;
            border-radius: 3px;
            background-color: $secondaryBackground;
          }
      }
      .GameDetails {
        width: 90%;
        margin: auto;
        .GameId {
            height: fit-content;
            width: $gameWidth;
            overflow: hidden;
            text-overflow: ellipsis;
            span{
                color: $lightText;
            }
          }
      }
      &:hover,&:active{
          transform: scale(1.1);
      }
}
  

@keyframes mymove{
    0%{
        transform: skewX(-45deg) translateX(-5em);
        opacity: 0.1;
    }
    50%{
      opacity: 0.3;
    }
    100%{
      opacity: 0.1;
        transform: skewX(-45deg) translateX(15.5em);
    }
}